@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
}
.bars{
    margin: 0 2px;
    width: .35vw;
    display: inline-block;
    /* flex-direction: row; */
    background-color: aquamarine;
    font-size: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p{
    color: rgb(0, 177, 0);
    position: absolute;
    z-index: 2;
    left: 45%;
    font-size: 3vh;
    font-weight: 600;
}

.array-container{
    margin-top: 100px;
}
/* 
.buttons{
    display: flex;
    justify-content: space-evenly;
} */
