.bars{
    margin: 0 2px;
    width: .35vw;
    display: inline-block;
    /* flex-direction: row; */
    background-color: aquamarine;
    font-size: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.p{
    color: green;
}

.array-container{
    margin-top: 100px;
}