.bars{
    margin: 0 2px;
    width: .5vw;
    display: inline-block;
    /* flex-direction: row; */
    background-color: aquamarine;
    font-size: 5px;
}

.array-container{
    margin-top: 150px;
}